.wholeFooter {
  width: 100%;
  height: 100px;
}

.leftDiv {
  background-color: hotpink;
}

.centerDiv {
  background-color: turquoise;
  color: var(--lightTxt);
  font-size: 1.25rem;
}

.rightDiv {
  background-color: seagreen;
}
