.wholeFooter {
  width: 100%;
  height: 100px;
}

.leftDiv {
  background-color: turquoise;
}

.centerDiv {
  background-color: hotpink;
  color: var(--lightTxt);
  font-size: 1.25rem;
}

.rightDiv {
  background-color: lightseagreen;
}
