.wholeHeader {
  width: 100%;
  height: 40svh;
  background-color: rgb(255, 244, 144);
  background-image: url("../assets/PokedexPattern.png");
  background-size: 50svh;
}

/*
header  .wholeHeader
> div  .imgWrapper  > img  .headerImg
> h1  .pageTitle
> ul  .typesKeyList  > li  .typeKeys
*/

.imgWrapper {
}

.headerImg {
}

.pageTitle {
}

.typesKeyList {
}

.typeKeys {
}
