.wholeHeader {
  background-image: url("../assets/PokedexPattern.png");
  background-size: 50svh;
  background-color: var(--background);
}

/*
header  .wholeHeader
> div  .imgWrapper  > img  .headerImg
> h1  .pageTitle
> ul  .typesKeyList  > li  .typeKeys
*/

.imgWrapper {
}

.headerImg {
}

.pageTitle {
  font-size: 3rem;
  letter-spacing: 5;
}

.typesKeyList {
}

.typeKeys {
}
