.wholeHeader {
  width: 100%;
  height: 200px;
  background-color: rgb(255, 244, 144);
}

/*
header  .wholeHeader
> div  .imgWrapper  > img  .headerImg
> h1  .pageTitle
> ul  .typesKeyList  > li  .typeKeys
*/

.imgWrapper {
}

.headerImg {
}

.pageTitle {
}

.typesKeyList {
}

.typeKeys {
}
