.pokeCard {
  width: 200px;
  height: 300px;
}

.pokeCard:hover {
  box-shadow: 5px 5px 15px grey;
}

.imgWrapper {
  height: 50%;
  width: auto;
}

.pokeImg {
  width: 100%;
  height: auto;
}

.txtWrapper {
  background-color: #ffffff80;
  color: var(--darkTxt);
}

.pokeID {
  font-size: 1rem;
}

.pokeName {
  font-size: 1.25rem;
}
