.pokeCard {
  /* width: 100%;
  height: 100%; */
  width: 200px;
  height: 300px;
  background-color: white;
}

.imgWrapper {
  height: 50%;
  width: auto;
}

.pokeImg {
  width: 100%;
  height: auto;
}

.txtWrapper {
  color: var(--darkTxt);
}

.pokeID {
  font-size: 1rem;
}

.pokeName {
  font-size: 1.25rem;
}
