.typeFilterSection {
  width: 80%;
  background-color: lime;
}

.typeGridHeader {
  font-size: 1.25rem;
  letter-spacing: 5%;
}

/* .typeGrid {

} */

.typeGrid li {
}

.typeGrid li:hover {
  cursor: pointer;
}

/* .typesBtns {

} */
