.typeFilterSection {
  background-color: lime;
}

.typeGridHeading {
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
}

/* .typeGrid {

} */

.typeGrid li {
}

.typeGrid li:hover {
  cursor: pointer;
}

/* .typesBtns {

} */
