@import "tailwindcss";

:root {
  --darkTxt: rgb(45, 45, 45);
  --lightTxt: #fff;
  --grass: #9bcc50;
  --grass-border: #638a28;
  --fire: #fd7d24;
  --fire-border: #b14b02;
  --water: #4592c4;
  --water-border: #255474;
  --poison: #b97fc9;
  --poison-border: #7e3c90;
  --bug: #729f3f;
  --bug-border: #34491d;
  --normal: #a4acaf;
  --normal-border: #6c767a;
  --flying: #7dc0d3;
  --flying-border: #3b93ab;
  --electric: #eed535;
  --electric-border: #a4900e;
  --ground: #ae9882;
  --ground-border: #6c5947;
  --fairy: #fdb9e9;
  --fairy-border: #fa52c7;
  --fighting: #d56723;
  --fighting-border: #6e3512;
  --psychic: #f366b9;
  --psychic-border: #d41183;
  --rock: #a38c21;
  --rock-border: #3f360d;
  --ice: #51c4e7;
  --ice-border: #188fb4;
  --ghost: #7b62a3;
  --ghost-border: #483960;
  --dragon: #a28993;
  --dragon-border: #644f57;
  --steel: #9eb7b8;
  --steel-border: #628384;
  --dark: #707070;
  --dark-border: #404040;
  --background: #ddeade;
  --pokeball-light: #d86d62;
  --pokeball-dark: #db3d2f;
}

body {
  width: 100%;
  min-height: 1000px;
  background-color: violet;

  font-family: calibri, sans-serif;
  font-size: 1rem;
  color: var(--darkTxt);
}
